<div class="flex pt-25 justify-center gap-10">
  <div class="flex flex-col text-left">
    <h2 class="font-bold text-2xl pb-1">Get Start Shopping </h2>
    <p class="mb-2 text-neutral-500 text-sm">Welcome to FreshCart! Enter your email to get started.</p>

    <p-toast />
    <div class="card flex">
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="flex flex-col gap-4 w-full ">
        <div class="flex flex-col gap-1">
          <input pInputText type="text" id="Username" placeholder="Username" formControlName="name"
            [invalid]="isInvalid('name')" />
          @if (isInvalid('name')) {
          <p-message severity="error" size="small" variant="simple">Username is required.</p-message>
          }
        </div>
        <div class="flex flex-col gap-1">
          <input pInputText type="email" id="email" placeholder="Email" formControlName="email"
            [invalid]="isInvalid('email')" />
          @if (isInvalid('email')) {
          @if (registerForm.get('email')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
          }
          @if (registerForm.get('email')?.errors?.['email']) {
          <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
          }
          }
        </div>
        <div class="flex flex-col gap-1">
          <input pInputText type="password" id="password" placeholder="password" formControlName="password"
            [invalid]="isInvalid('password')" />
          @if (isInvalid('password')) {
          @if (registerForm.get('password')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
          }
          @if (registerForm.get('password')?.errors?.['password']) {
          <p-message severity="error" size="small" variant="simple">Please enter a valid password.</p-message>
          }
          }
        </div>
        <div class="flex flex-col gap-1">
          <input pInputText type="password" id="rePassword" placeholder="Confirm Password"
            formControlName="rePassword" [invalid]="isInvalid('rePassword')" />
          @if (isInvalid('rePassword')) {
          @if (registerForm.get('rePassword')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple">Confirming Password is required.</p-message>
          }
          @if (registerForm.get('rePassword')?.errors?.['rePassword']) {
          <p-message severity="error" size="small" variant="simple">Passwords don't match</p-message>
          }
          }
        </div>
        <button pButton severity="secondary" class="bg-main! text-white! hover:bg-main/80!" type="submit"><span pButtonLabel>Submit</span></button>
      </form>
    </div>

  </div>
  <div class="">
    <img src="./images/auth/signup-g.svg" draggable="false" class="img-fluid drag-none select-none">
  </div>
</div>
